<link rel="stylesheet" href="/css/page-elements/sidebar.css">

<div id="sidebar">
  <img id="logo" src="/images/logo1.png" alt="temp logo">
  <a href="/dashboard"> Dashboard </a>
  <a href="/dashboard/admin-activity"> Activity
    (Unread: <%=get_not_viewed_event_count%>)
  </a>
  <a href="/admin-private/flagged-users">Flagged Users</a>
  <a href="/logout"> Log out </a>
</div>

<footer>
  <a href="/terms">Terms & Conditions</a>
  <a href="/licences">Software Licences</a>
  <a>About</a>
</footer>