<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="./css/pages/main-homepage.css">
        <link rel="stylesheet" href="./css/fonts/outfit.css">
        <title>UniConnect: Licences</title>
    </head>

    <body>
        <header>
             <a href="/">
              <image src="images/back-button.png" class="backButton">
            </a>
            <h1>
                Software Licences
            </h1>
        </header>
        
        <main>
            <div id="content_box">
                <h2>
                    Outfit Google Font
                </h2>
                <p>
                    The Outfit Google Font is licenced under the Open Font Licence.
                    The Open Font Licence for the Outfit Google Font 
                    can be viewed <a href="./fonts/Outfit/OFL.txt">here</a>.
                </p>
            </div>
        </main>

        <%= erb :"shared-components/page-footer" %>
    </body>
</html>