<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/pages/main-homepage.css">
        <link rel="stylesheet" href="/css/fonts/outfit.css">
        <title>UniConnect: Terms & Conditions</title>
    </head>
    <body>
        <main>
            <a href="/">
              <image src="images/back-button.png" class="backButton">
            </a>
            <h1>
              Terms and Conditions
            </h1>
            <div id="content_box">
              <h2>
              Hello! Please make sure you abide by the terms and conditions so that we
              can get the most out of this website for everyone!
              </h2>
              <ul>
                <li>Be respectful to other people you interact with on this website</li>
                <li>Uphold your duties as a mentor/mentee/admin</li>
                <li>Use this website ethically and morally</li>
                <li>Follow all applicable laws and regulations (including the Computer Misuse Act 1990)</li>
                <li>Administrators reserve the right to delete or suspend your account
                 at any point if they suspect any misuse of the website on your part</li>
                <li>Follow the directions of the website, for example including the relevant information when prompted</li>
                <li>Do not upload any indecent or otherwise inappropriate photos</li>
              </ul>
            </div>
            <h2>Thanks for reading the terms and conditions</p>
        </main>

        <%= erb :"shared-components/page-footer"%>
    </body>
</html>
