header{
  width: 91%;
  background-color: #acb2ea;
  display: block;
  justify-self: right;
  text-align: right;
}

main {
  width: 91%;
  justify-self: right;
}

h1 {
  font-size: 2em;
  padding: 0 0 0 2vw;
}

#mentee-box{
  margin: 2vw; 
  background-color: #fafcfc;
  border-radius: 23px;
  box-shadow:0.25em 0.25em 0.8em #afafb6;
  padding: 10px;
  width: 90%;
  justify-self: center;
}

#navFooter {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;

  margin-bottom: 1vw;

  align-self: end;
  justify-self: center;
}

#mentorlist{
  padding: 1.5em 3em 1.5em 3em;
  display: grid;
  flex-direction: column;
  grid-template-columns: auto auto auto;
  justify-content: space-between
  justify-items: center
  column-gap: 1em;
}

.mentorBox{
  background-color: #f0f0ff;
  color: rgb(38, 33, 48);
  border-radius: 20px;
  border: 2px;
  border-color: #3b3868;
  border-width: 2px;
  border-style: solid;
  width: 100%;
  max-width: 18vw;
  padding: 20px;
  margin: 20px;

  word-wrap: break-word;
  text-align: center;
}

#applyButton{
  float: left;
  border: none;
  outline: none;
  background-color: #5f4cbcbc; 
  color: white;
  padding: 0.4em 0.8em;
  margin: 1em 0;
  cursor: pointer;
  border-radius: 0.3em;
}
#reportButton{
  float: right;
  border: none;
  outline: none;
  background-color: #e61818bc; 
  color: white;
  padding: 0.4em 0.8em;
  margin: 1em 0;
  cursor: pointer;
  border-radius: 0.3em;
}

#badge-display{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#badge{
  width: 0.3em;
  height: auto;
}