html {
    background-color: rgb(240, 240, 240);
    margin-left: auto;
    margin-top: 0px;
    padding-top: 0px;
    font-family: 'Outfit';
}

body {
    margin: auto;
    padding-top: 0px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

h1 {
    text-align: center;
    font-size:5vw;
}

h2 {
    text-align: center;
    font-size:3vw;
}

button {
    width: 100%;
    height: 4vw;
    margin-top: 20px;
    background-color: #8a90d4;
    color: white;
    text-align: center;
    cursor: pointer;
    border: none;
    font-size: 1.5vw;
    border-radius: 5px;
    font-family: 'Outfit', serif;
}

.admin {
    background-color: #f28b82;
}

.admin:hover {
    background-color: #d75d5d;
}

button:hover {
    background-color: #6f75b8;
}

#button_box {
  width: 15vw;
  margin: auto;
  padding: 1vw;
  background-color: rgb(240, 240, 240);
  border-radius: 2%;
}

#content_box{
    padding: 1vw;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    margin: auto;
    width: 80vw;
}
