<!DOCTYPE html>
<html>
  <head>
      <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
      <link rel="stylesheet" href="/css/main.css">
      <link rel="stylesheet" href="/css/fonts/outfit.css">
      <link rel="stylesheet" href="/css/pages/dashboard.css">
      <title>UniConnect: Notifications</title>
  </head>
    
  <body>
    <%= erb :"/shared-components/page-header" %>

    <%= erb current_admin ? :"/secure-area/shared/admin-sidebar" : :"/shared-components/sidebar" %>

    <main>
      <%= erb :"secure-area/shared/notifications-panel" %>
    </main>
  </body>

</html>

