#notification-panel {
    
    h1 {
        text-align: center;
        font-weight: bold;
        font-style: italic;
    }

    table {
        width: 90%;
        margin: auto;
    }

    tbody {
        text-align: center;
    }

    td {
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 1px black solid;
    }

    .unread_notif {
        background-color: #bcc1e6;
    }

    form button {
        font-size: 1em;
        background-color: #fafcfc;
        border-width: 5px;
        border-radius: 10px;
        border-style: solid;
        border-color: #acb2ea;
    }

    .button_link {
        font-size: 1em;
        background-color: #fafcfc;
        border-width: 5px;
        border-radius: 10px;
        border-style: solid;
        border-color: #acb2ea;
        text-decoration: none;
    }
}
