footer{
    display: flex;
    flex-direction: row;
    background-color: #3b3868;
    position:relative;
    bottom: 0;
    left: 0;
    padding-top: 1.2vw;
    padding-bottom: 1.2vw;
    width: 100vw;
}

footer a{
  margin-left: 20px;
  margin-right: 20px;
  color: white;
}

#copyright{
    margin-left: auto;
}