#sidebar {
  background-color: #3b3868;
  width: 9vw;
  height: 100%;

  position: fixed;
  justify-self: left;
  display: flex;
  flex-direction: column;
}

#sidebar a, footer a{
  color: #ecf0f0;
  font-size: 1.1vw;
  font-weight: 480;
  text-decoration: none;
  padding: 0 0 2vh 1.2vw;
}

#sidebar img{
  width: 8vw;
  align-self: center;
  padding: 0.2em;
  margin-top: 1.6vh;
  margin-bottom: 2vh;
}

footer{
  width: 9vw;
  height: auto;
  bottom: 0;
  position: fixed;
  justify-self: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#sidebar a:hover, footer a:hover{
  text-decoration: underline;
  font-weight: 550;
}
