<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/fonts/outfit.css">
        <link rel="stylesheet" href="/css/pages/dashboard.css">
        <link rel="stylesheet" href="/css/pages/dashboard-panels/settings.css">
        <title>UniConnect: Delete Account</title>
    </head>

    <body>
        <%= erb :"shared-components/page-header" %>
        <%= erb :"shared-components/sidebar" %>

        <main>
            <div id="settings-box">
                <h1>Are you sure you want to delete your account?</h1>
                <h2>
                    Warning: Deleting your account is a permanent action. If
                    you continue, your account will be deleted FOREVER.
                </h2>
                <h2>
                    To continue, enter your password below, and press confirm.
                </h2>
                <form action="/dashboard/delete-account/confirm-delete-account" method="post" id="settings-container">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" required="true"></input>
                    <label for="password">Repeat Password</label>
                    <input type="password" name="repeat_password" id="repeat_password" required="true"></input>
                    <button type="submit" class="delete-button">Confirm Account Deletion</button>
                </form>
                <%=@errors%>
            </div>
        </main>
    </body>
</html>