<link rel="stylesheet" href="/css/page-elements/footer.css">
<footer>
  <a href="/terms">Terms & Conditions</a>
  <a href="/licences">Software Licences</a>
  <a id="copyright">© Bruno, Dylan, Emad, Emily, Lizzie, Roma, 2025</a>
</footer>